@font-face {
  font-family: 'Fira Mono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('fonts/firamono_latin_ext.woff2') format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: 'Fira Mono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('fonts/firamono_latin.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
    min-width: 200px;
    max-width: 850px;
    margin: 3rem auto;
    padding: 0 2rem;
    font-size: 14pt;
}

h1 {
    text-align: center;
}

p {
    line-height: 1.3;
}

li {
    margin-bottom: 0.3rem;
}

img {
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

pre {
    margin: 1rem 0;
}

pre.prettyprint {
    border: none;
}

blockquote {
    margin: 1.5rem 3rem;
}

/* document links */

a {
    text-decoration: none;
}

a:link, .block-link a:visited {
    color: #0046b3;
}

a:hover, a:active {
    text-decoration: underline;
    color: #4d92ff;
}

a:visited {
    color: #662e99;
}

/* code blocks */

code, .block-header {
    font-size: 11pt;
    font-family: 'Fira Mono',Menlo,Monaco,Consolas,Liberation Mono,Courier New,monospace;
}

.block-header, .block-header + pre.prettyprint {
    background-color: #f9f8f4;
    border: 1px solid #c7c4b4;
    box-sizing: border-box;
}

.block-header {
    display: inline-block;

    /* allows the header to overlap the code block to hide part of the top border */
    position: relative;
    z-index: 6;

    border-top-left-radius: 0.6rem;
    border-top-right-radius: 0.6rem;
    border-bottom-width: 0;

    padding: 0.4rem 0.6rem;
}

.block-title {
    font-weight: normal;
}

.block-title a {
    /* this causes navigating to a block link to scroll you just a few pixels above the block header */
    margin-top: -1rem;
    padding-top: 1rem;
}

.block-title, .block-header a:link, .block-header a:visited {
    color: #262521;
}

.block-header a:hover, .block-header a:active {
    color: #737372;
}

.code-block pre.prettyprint {
    padding: 0.6rem;
    white-space: pre-wrap;
    border-radius: 0.6rem;
}

.code-block .block-header + pre.prettyprint {
    /* overlap to the top 1px of the code block with the header so that the top border is partially obscured */
    position: relative;
    z-index: 5;
    margin-top: -1px;

    border-top-left-radius: 0;
}

.block-usages {
    margin-top: -1rem;
}

.block-usages small {
    display: inline-block;
    margin: 0.4rem 0.6rem;
    font-size: 11pt;
    color: #363535;
}

.block-usages a, .block-usages span {
    padding: 0 0.5rem;
    margin-left: 0.1rem;
}

.block-usages a {
    background-color: #f9f8f4;
    border: 1px solid #c7c6bf;
    box-sizing: border-box;

    color: #57554a;
    border-radius: 0.3rem;
}

.block-usages a + *, .block-usages span + * {
    margin-left: 0.2rem;
}

.block-usages a:hover, .block-usages a:active {
    text-decoration: none;
    background-color: #f9f9f7;
    color: #a6a28d;
}

h1 + p, h1 + p + p {
    text-align: center;
}
