/* Element Styles */

img {
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

p {
    text-indent: 0;
    line-height: 1.3;
}

.section > p {
    margin-bottom: 1.3rem;
}

li {
    margin-bottom: 0.3rem;
}

pre {
    -webkit-text-size-adjust: 100%;
}

/* Header Style */

h4.noheading {
    display: none;
}

.section:first-of-type > p {
    margin-bottom: 0.25rem;
    text-align: center;
}
