img {
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

p {
    text-indent: 0;
    line-height: 1.3;
}

.section > p {
    margin-bottom: 1.3rem;
}

li {
    margin-bottom: 0.3rem;
}
